{% extends "VespolinaAdminBundle::layout.html.twig" %}

{% block content %}
<div class="row">
    <div class="span12">
        <h4>Dashboard</h4>
        <div class="row">

        </div>
    </div>
</div>
{% endblock %}
